<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voting for the world peace</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <style media="screen">
      .voto{
        margin: 10px;
        padding: 10px;
      }

      .time{
        font-size: 50px;
        font-style: Sans-serif;
      }
    </style>

  </head>
  <body>
    <h1>Will "Hello, World!" bring world peace?</h1>
    <button id="yes">Yes</button>
    <button id="no">No</button>
    <div id="message">Tu voto suma !</div>
    <div id="votes" class="voto"></div>
    <div id="state"></div>
    <div id="timeout" class="time"></div>
    <script type="text/javascript">
    function vote(yes) {
      $.get("/vote?yes=" + yes, function() {
      })
    }

    $("#yes").on("click", function() {
      vote(true)
    })

    $("#no").on("click", function() {
      vote(false)
    })

    //Recepcion de evento

    if (!!window.EventSource) {
        var source = new EventSource('/stream')

        source.addEventListener('message', function(e) {
          votes = JSON.parse(e.data)
          $("#votes").text("Yes: " + votes.yes + ", No: " + votes.no)
        }, false)

        source.addEventListener('timeout', function(e) {
          var time = JSON.parse(e.data);
          $("#timeout").text(time.message);
        }, false)

        source.addEventListener('open', function(e) {
          $("#state").text("Connected")
        }, false)

        source.addEventListener('error', function(e) {
          if (e.target.readyState == EventSource.CLOSED) {
            $("#state").text("Disconnected")
          }
          else if (e.target.readyState == EventSource.CONNECTING) {
            $("#state").text("Connecting...")
          }
        }, false)
        } else {
          console.log("Your browser doesn't support SSE")
        }


    </script>
  </body>
</html>
