.login{
  bbackground: #ff3232; /* Old browsers */
background: -moz-linear-gradient(top,  #ff3232 0%, #f2da82 50%, #ff8997 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff3232 0%,#f2da82 50%,#ff8997 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff3232 0%,#f2da82 50%,#ff8997 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff8997',GradientType=0 ); /* IE6-9 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form{
  height: 30%;
  width: 30%;
  background-color: rgba(125,0,0,0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-form-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-form-data-h2{
   color: rgba(255,255,255,0.7);
   font-family: 'Arima Madurai', cursive;
   font-style: oblique;
}
.login-form-data-input{
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  text-align: center;
  width: 80%;
  font-weight: bold;
}

.login-form-data-button {
  font-family: 'Calibri';
  width: 100%;
  height: 80%;
  font-size: 100%;
	-moz-box-shadow: 0px 1px 7px 0px #3dc21b;
	-webkit-box-shadow: 0px 1px 7px 0px #3dc21b;
	box-shadow: 0px 1px 7px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:10px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 3px 7px #18610d;
}
.login-form-data-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
  text-shadow: 2px 1px #000;
}
