@import '../../../styles/master';

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pastel-red;
  }

  .login-form{
    width: 450px;
    height: 200px;
    background-color: $pastel-orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 37px rgba(0,0,0,0.4);
  }

  .login-form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1{
      text-align: center;
      color: #fff;
      font-size: 3vw;
    }

    input{
      width: 90%;
      height: 60%;
      font-size: 100%;
      color: rgba(255,255,255,0.9);
      text-align: center;
      background-color: rgba(255,255,255,0);
      border: none;
      border-bottom: 1px solid;
      border-bottom-color: rgba(255,255,255,0.7);
      outline: none;
    }

    input:hover,input:focus{
      border-bottom: 2px solid;
      border-bottom-color: rgba(255,255,255,0.5);
    }

    label{
      font-family: 'Arima Madurai';
      border: none;
      outline: none;
      color: $pastel-orange;
      -webkit-text-stroke: 4px white;
      font-size: 4vw;
    }
    label:hover{
      font-size: 5vw;
      cursor: pointer;
      text-shadow: 1px 1px 4px black;
    }
  }

  .rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
