.newRoomForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 10px solid rgba(220, 92, 70, 0.58);
  border-left: 15px solid rgba(220, 92, 70, 0.58);
  border-radius: 30px;
  margin: 10px 0;
  box-shadow: 1px 2px 9px 0px #000000;
}

.form-line{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 5px;
  font-size: 1.3em;
  font-family: 'Arima Madurai';
}

.form-label{
  height: auto;
  width: 15%;
}

.form-input{
  height: auto;
  width: 85%;
}

.form-text-input{
  border-radius: 10px;
  color: rgb(156,59,59);
  outline: none;
  height: 100%;
  width: 80%;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  text-align: center;
  font-family: 'Arima Madurai', cursive;
  font-weight: bold;
}
.form-text-input:hover{
  border:1px solid rgba(0,0,0,0.3);
}
.form-text-input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,0);
}
.form-text-input:focus::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,0);
}

.form-text-input:focus{
  border: 1px solid rgb(156,59,59);
}

.form-submit{
  width: 100%;
  height: 70px;
}

.form-submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 3em;
	-moz-box-shadow: 0px 1px 7px 0px #3dc21b;
	-webkit-box-shadow: 0px 1px 7px 0px #3dc21b;
	box-shadow: 0px 1px 7px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 3px 7px #18610d;
}
.form-submit-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.form-submit-btn:active {
	position:relative;
	top:1px;
}

.combo-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 80%;
    height: auto;
    overflow: hidden;
}

.combo-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: rgba(0,0,0,0);
    background-image: none;
    -webkit-appearance: none;
    text-align: center;
    color: #a32424;
    font-weight: bold;
}

.combo-style select option {
    text-align: center;
    color: #a32424;
    background-color: rgba(0,0,0,0.5);
}

.combo-style select:focus {
    outline: none;
}

.categorie{
  height: auto;
  margin: 2px 0;
  color: #a32424;
}
