$text-gray: #737070;

$pastel-green: #e1f7d5;
$pastel-red: #ffbdbd;
$pastel-blue: #c9c9ff;
$pastel-pink: #f1cbff;
$pastel-orange: #fabf83;

.light{
  font-family: 'arima madurai','extra-light 200';
  font-weight: 200;
}

.regular{
  font-family: 'arima madurai';
  font-weight: 400
}

.bold{
  font-family: 'arima madurai';
  font-weight: 700;
}

.black{
  font-family: 'arima madurai';
  font-weight: 900;
}

.title{
  font-size: 68px;
}
